/Pertemuan 7/Inter/nbproject/private/
/Pertemuan 7/Inter/build/
/Pertemuan 7/Inter/dist/
/Pertemuan 7/UTS_NO1/nbproject/private/
/Pertemuan 7/UTS1/nbproject/private/
/Pertemuan 7/MyClass/nbproject/private/
/Pertemuan 7/UTS1/build/
/Pertemuan 7/Latihan GUI/nbproject/private/
/Pertemuan 8/Latihan GUI/nbproject/private/
/Pertemuan 8/Latihan GUI/build/
/Kel PBO/KuisionerUDPK/nbproject/private/
/Pertemuan 9/PraPertemuan9/nbproject/private/
/Pertemuan 9/PraPertemuan9/build/
/Pertemuan 10/PraPertemuan10/nbproject/private/
/Pertemuan 10/PraPertemuan10/build/
/Pertemuan 10/LatihanFile/nbproject/private/
/Pertemuan 10/latihan.file/nbproject/private/
/Pertemuan 10/latihan.file/build/
/Pertemuan 10/latihan.file/dist/
/Pertemuan 10/Latihan GUI 9/build/
/Pertemuan 10/Latihan GUI 9/nbproject/private/
/Pertemuan 10/Latihan GUI/build/
/Pertemuan 10/Latihan GUI/nbproject/private/
/Pertemuan 10/Latihan GUI/dist/
/Pertemuan 11/Modul11/nbproject/private/
/Pertemuan 11/Modul11/build/
/Pertemuan 11/Modul11/dist/
/Pertemuan 11/PraPertemuan11/nbproject/private/
/Pertemuan 11/PraPertemuan11/build/
